doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body 
        header 
            h1.logo
                a(href="/") Med Registry 

            nav.navbar 
                a(href="/create") Add Medicine 
                a(href="/detail") See All Medicines
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
        block content